@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

body {
    animation: animateBg 10s linear infinite;
    background-image: linear-gradient(90deg, #246655, #462466, #b66d52, #246655, #462466);
    background-size: 400% 100%;
    font-family: 'Goblin One', cursive;
}

@keyframes animateBg {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}


.animated-btn {
    animation: animateBtn 10s linear infinite;
    background-image: linear-gradient(90deg, #41b497, #7f47c5, #c29c46, #41b497, #7f47c5);
    background-size: 400% 100%;
}

@keyframes animateBtn {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
